<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Poner thymeleaf namespace-->
<head>
<meta charset="UTF-8">
<title>Detalle</title>
<link rel="stylesheet" th:href="@{/styles.css}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap"
	rel="stylesheet">
</head>
<body>

	<h1 class="header">Detalles del evento</h1>
	<div class="table-container">
	<table class="det-table">
			<tr>
			    <th>Id</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Fecha de inicio</th>
				<th>Duración</th>
				<th>Dirección</th>
				<th>Estado</th>
				<th>Destacado</th>
				<th>Aforo máximo</th>
				<th>Mínimo de asistencia</th>
				<th>Precio</th>
				<th>Id tipo evento</th>
				<th>Nombre</th>
				<th>Descripción</th>
				

			</tr>
			<tr>
				<td th:text="${evento.idEvento}"></td>
				<td th:text="${evento.nombre}"></td>
				<td th:text="${evento.descripcion}"></td>
				<td th:text="${evento.fechaInicio}"></td>
			    <td th:text="${evento.duracion}"></td>
			    <td th:text="${evento.direccion}"></td>
			    <td th:text="${evento.estado}"></td>
			    <td th:text="${evento.destacado}"></td>
			    <td th:text="${evento.aforoMaximo}"></td>
			    <td th:text="${evento.minimoAsistencia}"></td>
			    <td th:text="${evento.precio}"></td>
			    <td th:text="${evento.tipo.idTipo}"></td>
			    <td th:text="${evento.tipo.nombre}"></td>
			    <td th:text="${evento.tipo.descripcion}"></td>
			</tr>
			
		</table>
		</div>
		<div class="cent">
		      <a th:href="@{/}" class="text border">Inicio</a>
	        </div>

</body>
</html>